/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body{
    background-color: whitesmoke;
}



#display_image{
width: 400px;
height: 300px;
/* border: 1px solid black; */
margin-left: auto;
margin-right: auto;
background-size: cover;
}

#myProgress {
width: 20%;
background-color: grey;
}

#myBar {
width: 1%;
height: 30px;
background-color: green;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  #wrapper {
    position: relative;
    left: 50px;
    top: 100px;
  }
  
  #arrow {
    position: absolute;
    width: 2px;
    background-color: black;
    transform-origin: bottom center;
  }
  
  #arrow::before {
      position: absolute;
      height: 0px;
      width: 0px;
      border: 6px solid transparent;
      border-bottom: 8px solid black;
      content: "";
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }