{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}

<div align="left" >
    <img id="output" name="img" alt="Display Picture" src="{{url_for('static', filename ='uploads/' + images[0] )}}" style="width: 300px"/>
    <figcaption>Fig.1 - Original Version</figcaption>
</div>

<div align="right" >
    <img id="output" name="img" alt="Display Picture" src="{{url_for('static', filename ='uploads/' + images[1] )}}" style="width: 300px"/>
    <figcaption>Fig.2 - Contrasted</figcaption>
</div>

<div align="left" >
    <img id="output" name="img" alt="Display Picture" src="{{url_for('static', filename ='uploads/' + images[2] )}}" style="width: 300px"/>
    <figcaption>Fig.3 - NDVI</figcaption>
</div>

<div align="right" >
    <img id="output" name="img" alt="Display Picture" src="{{url_for('static', filename ='uploads/' + images[3] )}}" style="width: 300px"/>
    <figcaption>Fig.4 - NDVI Contrasted.</figcaption>
</div>

<div align="left" >
    <img id="output" name="img" alt="Display Picture" src="{{url_for('static', filename ='uploads/' + images[4] )}}" style="width: 300px"/>
    <figcaption>Fig.5 - Colour mapped.</figcaption>
</div>

{% endblock %}
